[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=env -u WAYLAND_DISPLAY SHELL=/var/home/clemens/.nix-profile/bin/zsh alacritty -e toolbox enter --container nix
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty (nix-toolbox)
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=env -u WAYLAND_DISPLAY SHELL=/var/home/clemens/.nix-profile/bin/zsh alacritty -e toolbox enter --container nix
