org.freedesktop.Platform.ffmpeg-full//24.08
org.gtk.Gtk3theme.adw-gtk3
org.gtk.Gtk3theme.adw-gtk3-dark
org.kde.elisa
org.kde.gwenview
org.kde.kcalc
org.kde.okular
org.kde.haruna
org.mozilla.firefox

{{- if not (eq .chezmoi.hostname "fermi") }}
hu.irl.cameractrls
org.gimp.GIMP
org.gimp.GIMP.HEIC
org.gimp.GIMP.Plugin.GMic//3
org.libreoffice.LibreOffice
org.signal.Signal
org.wezfurlong.wezterm
{{- end }}

{{- if or (eq .chezmoi.hostname "maxwell") (eq .chezmoi.hostname "newton") (eq .chezmoi.hostname "lagrange")}}
com.calibre_ebook.calibre
com.github.wwmm.easyeffects
com.obsproject.Studio
com.valvesoftware.Steam
com.valvesoftware.Steam.CompatibilityTool.Proton-GE
dev.vencord.Vesktop
io.github.Foldex.AdwSteamGtk
net.lutris.Lutris
net.retrodeck.retrodeck
org.freedesktop.Platform.VulkanLayer.MangoHud//23.08
org.freedesktop.Platform.VulkanLayer.MangoHud//24.08
org.freedesktop.Platform.VulkanLayer.MangoHud//25.08
org.freedesktop.Platform.VulkanLayer.gamescope//23.08
org.freedesktop.Platform.VulkanLayer.gamescope//24.08
org.freedesktop.Platform.VulkanLayer.gamescope//25.08
org.kde.kid3
{{- else if eq .chezmoi.hostname "fermi" }}
net.retrodeck.retrodeck
org.freedesktop.Platform.VulkanLayer.MangoHud//23.08
org.freedesktop.Platform.VulkanLayer.MangoHud//24.08
org.freedesktop.Platform.VulkanLayer.gamescope//23.08
org.freedesktop.Platform.VulkanLayer.gamescope//24.08
{{- end }}
