/*Thinner scrollbar*/
::-webkit-scrollbar {
  height: 6px !important;
  width: 0px !important;
  background-color: transparent;
}

/* no gradient */
:root {
  --modspotify_rgb_sidebar_and_player_bg: 0,0;
}
