[Container]
# renovate: datasource=github-tags depName=syncthing/syncthing versioning=loose
Image=docker.io/syncthing/syncthing:2.0.14
AutoUpdate=registry
Network=host
Volume=%h:%h
SecurityLabelDisable=true
Environment=STHOMEDIR=%h/.local/state/syncthing
Environment=HOME=%h
UserNS=keep-id
User=1000:1000

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
