* {
  textcolor: #abb2bf;
  foreground: #abb2bf;
  background: #121212;
  highlighted: #232323;
  background-light: #232323;
  urgent: #8a2be2;
  accent: #8a2be2;
  border: #8a2be2;

  on: #86de74;
  off: #ff7de9;

  spacing: 0;
  text-color: @textcolor;

  font: "Noto Sans 10";
  icon-theme: "Papirus";
}

