* {
  textcolor: #abb2bf;
  foreground: #abb2bf;
  background: #161b22;
  highlighted: #2d333b;
  background-light: #2d333b;
  urgent: #00bfff;
  accent: #00bfff;
  border: #00bfff;

  on: #86de74;
  off: #ff7de9;

  spacing: 0;
  text-color: @textcolor;

  font: "FiraCode Nerd Font 10";
  icon-theme: "Papirus";
}

