window {
  transparency: "real";
  background-color: @background;
  text-color: @textcolor;
  border: 1;
  border-radius: 4px;
  border-color: @border;
  height: 40%;
  width: 40%;
  location: center;
  anchor: center;
  x-offset: 0;
  y-offset: 0;
}
