[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][11]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=11
layoutId=
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][11][Applets][12]
immutability=1
plugin=org.kde.kdeconnect

[Containments][11][Applets][12][Configuration]
PreloadWeight=0

[Containments][11][Applets][14]
immutability=1
plugin=org.kde.plasma.volume

[Containments][11][Applets][14][Configuration]
PreloadWeight=0

[Containments][11][Applets][15]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][11][Applets][15][Configuration]
PreloadWeight=0

[Containments][11][Applets][16]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][11][Applets][16][Configuration]
PreloadWeight=0

[Containments][11][Applets][17]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][11][Applets][17][Configuration]
PreloadWeight=0

[Containments][11][Applets][19]
immutability=1
plugin=org.kde.plasma.battery

[Containments][11][Applets][19][Configuration]
PreloadWeight=0

[Containments][11][Applets][21]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][11][Applets][21][Configuration]
PreloadWeight=0

[Containments][11][Applets][22]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][11][Applets][22][Configuration]
PreloadWeight=0

[Containments][11][Applets][86]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][11][Applets][86][Configuration]
PreloadWeight=0

[Containments][11][Applets][87]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][11][Applets][87][Configuration]
PreloadWeight=34

[Containments][11][Applets][88]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][11][Applets][88][Configuration]
PreloadWeight=0

[Containments][11][Applets][96]
immutability=1
plugin=touchpad

[Containments][11][Applets][96][Configuration]
PreloadWeight=42

[Containments][11][ConfigDialog]
DialogHeight=1038
DialogWidth=855

[Containments][11][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,touchpad
hiddenItems=Discover Notifier_org.kde.DiscoverNotifier
knownItems=org.kde.plasma.networkmanagement,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,org.kde.plasma.vault

[Containments][4]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=11
layoutId=
location=3
name=
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][4][Applets][10]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][4][Applets][10][Configuration]
PreloadWeight=100
SystrayContainmentId=11

[Containments][4][Applets][89]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][4][Applets][89][Configuration]
PreloadWeight=0

[Containments][4][Applets][89][Configuration][ConfigDialog]
DialogHeight=1034
DialogWidth=855

[Containments][4][Applets][89][Configuration][Preferences]
DesktopLabelsStyle=1
DynamicDesktopsEnable=true

[Containments][4][Applets][90]
immutability=1
plugin=org.kde.plasma.eventcalendar

[Containments][4][Applets][90][Configuration]
PreloadWeight=33

[Containments][4][Applets][90][Configuration][Calendar]
firstDayOfWeek=1
monthShowWeekNumbers=true

[Containments][4][Applets][90][Configuration][ConfigDialog]
DialogHeight=1038
DialogWidth=855

[Containments][4][Applets][90][Configuration][General]
clockMouseWheelDown=
clockMouseWheelUp=
clockTimeFormat1=\sdd.MM.yy, HH:mm:ss\s
clockTimeFormat2=dd.MM.yy
v71Migration=true
widgetShowAgenda=false

[Containments][4][Applets][90][Configuration][Google Calendar]
calendarList=W10=
tasklistList=W10=

[Containments][4][Applets][90][Configuration][Weather]
openWeatherMapCityId=2761369

[Containments][4][Applets][94]
immutability=1
plugin=org.kde.plasma.icon

[Containments][4][Applets][94][Configuration]
PreloadWeight=0
localPath=/home/clemens/.local/share/plasma_icons/runner.sh.desktop
url=file:///home/clemens/Projects/linux_setup/rofi/runner/runner.sh

[Containments][4][Applets][95]
immutability=1
plugin=org.kde.plasma.icon

[Containments][4][Applets][95][Configuration]
PreloadWeight=0
localPath=/home/clemens/.local/share/plasma_icons/powermenu.sh.desktop
url=file:///home/clemens/Projects/linux_setup/rofi/powermenu/powermenu.sh

[Containments][4][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][4][Configuration]
PreloadWeight=0

[Containments][4][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=89;10;90;94;95
autoDecreaseIconSize=false
backgroundOnlyOnMaximized=true
disablePanelShadowForMaximized=true
iconSize=24
panelPosition=10
panelShadows=false
panelSize=100
scrollAction=ScrollDesktops
shadowOpacity=40
shadowSize=45
shadowsUpgraded=true
solidBackgroundForMaximized=true
splitterPosition=2
splitterPosition2=3
tasksUpgraded=true
thickMargin=10
zoomLevel=0

[Containments][4][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][4][Indicator][org.kde.latte.default][General]
size=0.08

[Containments][4][Indicator][org.kde.latte.plasma][General]
reversed=true

[LayoutSettings]
activities=
backgroundStyle=0
color=purple
customBackground=
customTextColor=
disableBordersForMaximizedWindows=true
icon=cs-tiling
lastUsedActivity=
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=false
version=2
