[Unit]
Description=OpenRGB control

[Service]
Type=oneshot
ExecStart=/usr/bin/openrgb -m cycle
User=nobody
Group=i2c

[Install]
WantedBy=multi-user.target
