[Unit]
Description=OpenRGB control

[Service]
Type=oneshot
ExecStart=/usr/bin/openrgb --nodetect -m cycle
User=nobody
Group=i2c

[Install]
WantedBy=multi-user.target
