[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=11
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][4][Configuration]
PreloadWeight=100
SystrayContainmentId=5

[Containments][1][Applets][72]
immutability=1
plugin=org.kde.plasma.eventcalendar

[Containments][1][Applets][72][Configuration]
PreloadWeight=92

[Containments][1][Applets][72][Configuration][Agenda]
twoColumns=false

[Containments][1][Applets][72][Configuration][Calendar]
firstDayOfWeek=1
monthDayDoubleClick=DoNothing
monthShowWeekNumbers=true
month_show_weeknumbers=true

[Containments][1][Applets][72][Configuration][ConfigDialog]
DialogHeight=1022
DialogWidth=623

[Containments][1][Applets][72][Configuration][General]
clockMaxHeight=16
clockMouseWheelDown=
clockMouseWheelUp=
clockTimeFormat1=dd.MM. HH:mm:ss\s
clock_maxheight=16
clock_mousewheel_down=
clock_mousewheel_up=
clock_timeformat=MMM d, HH:mm:ss\s
v71Migration=true
v72Migration=true
widgetShowAgenda=false
widgetShowMeteogram=false
widgetShowTimer=false
widget_show_agenda=false
widget_show_meteogram=false
widget_show_timer=false

[Containments][1][Applets][72][Configuration][Google Calendar]
calendar_list=W10=
tasklistList=W10=

[Containments][1][Applets][72][Configuration][Weather]
meteogramHours=48
meteogram_hours=48
openWeatherMapCityId=2761369
weather_city_id=2761369

[Containments][1][Applets][73]
immutability=1
plugin=org.kde.plasma.icon

[Containments][1][Applets][73][Configuration]
PreloadWeight=0
localPath=/home/clemens/.local/share/plasma_icons/runner.sh (1).desktop
url=file:///home/clemens/Projects/linux_setup/rofi/runner/runner.sh

[Containments][1][Applets][81]
immutability=1
plugin=org.kde.plasma.icon

[Containments][1][Applets][81][Configuration]
PreloadWeight=36
localPath=/home/clemens/.local/share/plasma_icons/powermenu.sh (1).desktop
url=file:///home/cle/Projects/linux_setup/rofi/powermenu/powermenu.sh

[Containments][1][Applets][82]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][1][Applets][82][Configuration]
PreloadWeight=76

[Containments][1][Applets][82][Configuration][ConfigDialog]
DialogHeight=1051
DialogWidth=1920

[Containments][1][Applets][82][Configuration][Preferences]
AddDesktopButtonShow=false
DesktopLabelsStyle=1
DynamicDesktopsEnable=true
MouseWheelRemoveDesktopOnClick=false
TooltipsEnable=false

[Containments][1][ConfigDialog]
DialogHeight=973
DialogWidth=539

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
activeIndicator=None
advanced=true
animationsEnabled=false
appletOrder=82;4;72;73;81
autoDecreaseIconSize=false
backgroundOnlyOnMaximized=true
disablePanelShadowForMaximized=true
dragActiveWindowEnabled=true
durationTime=None
iconMargin=20
iconSize=21
inConfigureAppletsMode=true
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=25
plasmaBackgroundForPopups=true
scrollAction=ScrollDesktops
shadowOpacity=60
shadowSize=45
shadows=None
showToolTips=true
solidBackgroundForMaximized=true
splitterPosition=1
splitterPosition2=2
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.plasma][General]
clickedAnimationEnabled=true

[Containments][5]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=11
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][5][Applets][10]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][5][Applets][10][Configuration]
PreloadWeight=0

[Containments][5][Applets][11]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][5][Applets][11][Configuration]
PreloadWeight=100

[Containments][5][Applets][11][Configuration][ConfigDialog]
DialogHeight=1029
DialogWidth=943

[Containments][5][Applets][12]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][5][Applets][12][Configuration]
PreloadWeight=0

[Containments][5][Applets][15]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][5][Applets][15][Configuration]
PreloadWeight=0

[Containments][5][Applets][6]
immutability=1
plugin=org.kde.plasma.volume

[Containments][5][Applets][6][Configuration]
PreloadWeight=5

[Containments][5][Applets][6][Configuration][ConfigDialog]
DialogHeight=1051
DialogWidth=1920

[Containments][5][Applets][68]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][5][Applets][68][Configuration]
PreloadWeight=0

[Containments][5][Applets][69]
immutability=1
plugin=org.kde.plasma.battery

[Containments][5][Applets][69][Configuration]
PreloadWeight=0

[Containments][5][Applets][71]
immutability=1
plugin=org.kde.plasma.weather

[Containments][5][Applets][71][Configuration]
PreloadWeight=10
pressureUnit=5008
showHumidityInTooltip=true
showPressureInTooltip=true
showTemperatureInCompactMode=false
showTemperatureInTooltip=true
showWindInTooltip=true
source=wettercom|weather|Wien, Wien, AT|ATAT10678;Wien
speedUnit=9001
temperatureUnit=6001
updateInterval=30
visibilityUnit=2007
weatherServiceProviders=wettercom

[Containments][5][Applets][71][Configuration][ConfigDialog]
DialogHeight=1051
DialogWidth=1920

[Containments][5][Applets][8]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][5][Applets][8][Configuration]
PreloadWeight=20

[Containments][5][Applets][83]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][5][Applets][83][Configuration]
PreloadWeight=17

[Containments][5][Applets][9]
immutability=1
plugin=org.kde.kdeconnect

[Containments][5][Applets][9][Configuration]
PreloadWeight=0

[Containments][5][ConfigDialog]
DialogHeight=1051
DialogWidth=1920

[Containments][5][Configuration]
PreloadWeight=42

[Containments][5][General]
extraItems=org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.kdeconnect,org.kde.plasma.keyboardindicator,org.kde.plasma.printmanager,org.kde.plasma.volume,org.kde.plasma.battery,org.kde.plasma.networkmanagement,org.kde.plasma.nightcolorcontrol,org.kde.plasma.weather,org.kde.plasma.keyboardlayout
hiddenItems=redshift-gtk,com.github.zren.alphablackcontrol,org.kde.plasma.weather
knownItems=org.kde.plasma.clipboard,org.kde.plasma.mediacontroller,org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.kdeconnect,org.kde.plasma.keyboardindicator,org.kde.plasma.printmanager,org.kde.plasma.volume,org.kde.plasma.battery,org.kde.plasma.networkmanagement,martchus.syncthingplasmoid,org.kde.plasma.nightcolorcontrol,org.kde.plasma.keyboardlayout
shownItems=keepassxc,Nextcloud,redshift,Syncthing Tray,martchus.syncthingplasmoid

[LayoutSettings]
activities=
background=
color=lightskyblue
disableBordersForMaximizedWindows=true
lastUsedActivity=
launchers=applications:org.kde.dolphin.desktop,applications:firefox.desktop,applications:org.kde.konsole.desktop,applications:cantata.desktop
preferredForShortcutsTouched=false
sharedLayout=
showInMenu=false
textColor=
version=2
