[1]
Description=Firefox PiP
above=true
aboverule=2
aboverulerule=3
desktops=\\0
desktopsrule=2
desktopsrulerule=3
skippager=true
skippagerrule=2
skippagerrulerule=3
skipswitcher=true
skipswitcherrule=2
skipswitcherrulerule=3
skiptaskbar=true
skiptaskbarrule=2
skiptaskbarrulerule=3
title=Picture-in-Picture
titlematch=1
types=1
wmclass=firefox
wmclasscomplete=true
wmclassmatch=2

{{ if eq .chezmoi.hostname "maxwell" }}
[21d15c92-14ac-4b5c-ae4d-d27f16440763]
Description=portait screen
desktops=\\0
desktopsrule=2
maximizehoriz=true
maximizehorizrule=3
maximizevert=true
maximizevertrule=3
wmclass=(feishin|Signal|org\\.kde\\.kontact|vesktop)
wmclassmatch=3

[General]
count=2
rules=1,21d15c92-14ac-4b5c-ae4d-d27f16440763
{{ else }}
[General]
count=1
rules=1
{{ end }}
