[Desktop Entry]
Name=Steam (WM)
Comment=gaming platform
Categories=Game;
Keywords=gaming;
Exec=/home/clemens/Projects/linux_setup/scripts/steamwm/steamwm.cpp /usr/bin/steam %U
Icon=steam
Terminal=false
Type=Application
MimeType=x-scheme-handler/steam;
