KERNEL=="sd*", ACTION=="add", ATTR{removable}=="1", \
    RUN+="/home/clemens/Projects/linux_setup/polybar/system-usb-udev.sh --update"
KERNEL=="sd*", ACTION=="remove", \
    RUN+="/home/clemens/Projects/linux_setup/polybar/system-usb-udev.sh --update"
