[Desktop Entry]
Name=Feishin
Exec=/home/{{- .chezmoi.username }}/.local/bin/feishin
Type=Application
Categories=Multimedia
Icon=/home/{{- .chezmoi.username }}/.local/share/applications/feishin.png
Description=A modern self-hosted music player
