[Desktop Entry]
Name=nvim
Comment=neovim
Keywords=shell;prompt;command;commandline;cmd;editor;
Icon=io.neovim.nvim
StartupWMClass=io.neovim.nvim
Type=Application
Categories=Development;
Terminal=false
Exec=ghostty --class=io.neovim.nvim -e /home/linuxbrew/.linuxbrew/bin/nvim %F
