[Desktop Entry]
Name=nvim
Comment=neovim
Keywords=shell;prompt;command;commandline;cmd;editor;
Icon=io.neovim.nvim
StartupWMClass=io.neovim.nvim
Exec=/var/home/linuxbrew/.linuxbrew/bin/wezterm start --always-new-process --class=io.neovim.nvim zsh -c 'source ~/.zshrc && nvim %F'
Type=Application
Categories=Development;
Terminal=false
