[Desktop Entry]
Name=Kontact
# https://bugreports.qt.io/browse/QTBUG-135786
Exec=QTWEBENGINE_CHROMIUM_FLAGS="--disable-gpu --disable-gpu-compositing" kontact
Type=Application
Icon=kontact
GenericName=Personal Information Manager
StartupNotify=true
Categories=Qt;KDE;Office;
X-DocPath=kontact/index.html
SingleMainWindow=true
Version=1.5
