[Global]
LookAndFeelSet=org.kde.breeze.desktop

[Windeco]
BoldButtonIcons=BoldIconsHiDpiOnly
ButtonIconStyle=StyleOxygen

{{- if not (eq .chezmoi.hostname "fermi") }}
[Windeco Exception 0]
BorderSize=0
Enabled=true
ExceptionBorder=false
ExceptionPreset=
ExceptionProgramNamePattern=
ExceptionWindowPropertyPattern=.*
ExceptionWindowPropertyType=0
HideTitleBar=true
OpaqueTitleBar=false
PreventApplyOpacityToHeader=false
{{- end }}

[WindowOutlineStyle]
ThinWindowOutlineThickness=2.5
WindowOutlineAccentColorOpacityActive=100
