[Global]
LookAndFeelSet=org.kde.breeze.desktop
RefreshedConfig=6.5.3

[Windeco]
ButtonIconStyle=StyleOxygen
DrawTitleBarSeparator=false
WindowCornerRadius=5.0

[WindowOutlineStyle]
ThinWindowOutlineThickness=2.5
WindowOutlineAccentColorOpacityActive=100
WindowOutlineAccentWithContrastOpacityInactive=40
WindowOutlineStyleActive=WindowOutlineAccentColor
WindowOutlineStyleInactive=WindowOutlineAccentWithContrast
WindowOutlineThickness=2
