use_nix
# https://github.com/NixOS/nixops/issues/736
NIX_PATH=/home/clemens/.nix-defexpr/channels:nixpkgs=https://nixos.org/channels/nixos-21.05/nixexprs.tar.xz:nixos-config=/etc/nixos/configuration.nix:/nix/var/nix/profiles/per-user/root/channels
