/* scrollbar */
* {
    scrollbar-color: #8a2be2 #232323 !important;
    scrollbar-width: thin !important;
}

@-moz-document url-prefix("about:"),
@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html") {
    window,
    page,
    html,
    .main-content,
    scrollbar {
        scrollbar-color: #8a2be2 #232323 !important;
        scrollbar-width: thin !important;
    }
}
